body {
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
  }

  p {
    color: red;
  }

  button {
      padding: 10px;
<<<<<<< HEAD
      border: 1px;
      border-color: #008080;
      border-radius: 16px;
=======
      color: #008080;
      color: white;
>>>>>>> feature-nova
  }
  